@media screen and (max-width: 800px) {
  .sideBar {
    display: none !important;
  }

  .projectInfo {
    text-align: left;
  }

  .mainContent {
    margin: 0px 0px 0px 0px !important;
  }

  .aboutMeScreen {
    padding-left: 20px !important;
    padding-right: 20px !important;
    display: block !important;
  }

  .myProjects {
    padding-left: 20px !important;
    padding-right: 20px !important;
    box-sizing: border-box !important;
  }

  .experienceANDwork {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .experienceANDwork .eAw {
    display: block !important;
    width: 100% !important;
  }

  .experienceANDwork .eAw .left {
    margin-bottom: 15px !important;
  }

  .horiLineMain {
    width: 50px;
  }

  .experienceANDwork .sectionTitle .horiLineMain {
    width: 60px !important;
  }

  .navbar-cont {
    position: fixed !important;
    padding: 15px 25px !important;
  }

  .otherProjectsFlexContainer,
  .gigsFlexContainer {
    display: block !important;
    padding: 20px !important;
  }

  .otherProjectsFlexContainer > div,
  .gigsFlexContainer .gigItemcontainer {
    width: 100% !important;
    box-sizing: border-box !important;
  }

  .projectContainer {
    display: block;
    flex-direction: column;
    padding: 20px !important;
    box-sizing: border-box !important;
    margin-bottom: 20px !important;
    /* border-bottom: 1px solid grey !important; */
  }

  .projectContainer.projectContainerLayout2 {
    flex-direction: column-reverse;
    display: flex;
  }

  .landingScreen {
    padding: 150px 20px 0px 20px !important;
  }
  .featuredProject {
    text-align: left !important;
  }
  .projectContainerLayout1 {
    text-align: right !important;
    grid-template-columns: 60% 40% !important;
  }

  .projectContainer .projectImage {
    width: 100% !important;
  }

  .projectContainerLayout2 .projectImage {
    margin-top: 5px !important;
  }

  .projectContainerLayout2 {
    margin-bottom: 20px !important;
  }

  .otherProjects {
    margin-top: 30px !important;
  }
  .eAw .left {
    display: flex;
    max-width: 100%;
    overflow: auto;
  }

  .eAw .left > div {
    border-left: 0;
  }

  .eAw .left > div:hover {
    color: var(--white-1);
    background: var(--green-tint);
    border-left: 0;
    /* border-bottom: 3px solid var(--col-primary); */
  }

  .eAw .left > div.active {
    border-left: 0;
    /* border-bottom: 3px solid var(--col-primary); */
    color: var(--col-primary);
  }

  .navbar-inner .navbarLinks {
    position: fixed;
    top: 79px;
    left: 0px;
    width: 100%;
    display: block;
    background: rgb(10, 25, 47);
    border-bottom: 3px dotted var(--green-tint);
    padding-bottom: 20px;
    display: none;
  }
  .navbar-inner .navbarLinks ol {
    display: block;
  }

  .navbar-inner .expandButton {
    display: flex!important!important;
    align-items: center;
  }
  .navbar-inner .expandButton button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--col-primary);
    font-size: 20px;
  }
  .landingScreen {
    padding-top: 80px !important;
  }
  .dijdij398h8{
    display: block;
    padding-bottom: 5px;
  }
  .eAw .left > div{
    width: fit-content;
  }

  .sTitle-cs-1 .horiLineMain{
    width: 30px!important; 
  }
  
  .sTitle-cs-2 .horiLineMain{
    width: 80px; 
  }

}

/* end */